@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #210661;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 25px 0;
}

.logo-title {
  color: rgb(179, 2, 2);
  font-size: 1.7rem;
  /*font-family:'PT Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.logo-img {
  width: 80px;
}

.cpf-input {
  margin-top: 20px;
  width: 260px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  border:solid 2px rgb(179, 2, 2);;
  border-radius: 5px;
  outline: none;
  color: rgb(179, 2, 2);
  font-family:'PT Sans', sans-serif;
  background-color: transparent;
}
.cpf-input::placeholder {
  color: rgb(180, 180, 180);
  text-align: center;
  font-size: 1.5rem;
  font-family:'PT Sans', sans-serif;
}

.container button {
  background-color: rgb(179, 2, 2);
  margin-top: 20px;
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family:'PT Sans', sans-serif;
  border:solid 2px rgb(179, 2, 2);
  outline: none;
}
