<div class="main">
  <div class="container">
    <img class="logo-img" src="assets/logo/logo.svg" alt="">
    <h1 class="logo-title">Shopping Point</h1>
    <input mask="000.000.000-00" [(ngModel)]="cpf" class="cpf-input" type="text" placeholder="Digite o seu CPF.">
    <button (click)="navigateToMesaList()">Próximo
    </button>
  </div>
</div>
<link rel = "preconnect" href = "https://fonts.gstatic.com">
<link href = "https://fonts.googleapis.com/css2? family = PT + Sans & display = swap" rel = "folha de estilo">
<script  src = " https://kit.fontawesome.com/3d5793b601.js " crossorigin = " anonymous " > </script>
