<div class="main">
  <div class="container">
    <div class="mesa-item">
      <p>MESA BRABA</p>
    </div>
    <div class="mesa-item">
      <p>MESA BRABA</p>
    </div>
    <div class="mesa-item">
      <p>MESA BRABA</p>
    </div>
    <div class="mesa-item">
      <img src="assets/icons/mesa.svg" alt="Mesa" class="mesa-icon">
      <div class="mesa-info">
        <div class="numero-mesa">
          <span>01</span>
        </div>
        <div class="espaço">
          <img src="assets/icons/people.svg" alt="Pessoa" class="icon-espaco">
          <span>05</span>
        </div>
      </div>
    </div>
  </div>
</div>
